*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.venv
venv/
env/
.idea/
.vscode/
.DS_Store
*.swp
*.swo
.~lock.*#
__pycache__/
build/
dist/
*.egg-info/
*.egg
*.egg-info/
*.bak
*.tmp
*.backup
*.log
*.cache
*.coverage
.coverage.*
htmlcov/
.easyprent/
